{% extends "base.html" %}

{% block title_head %}
About Me
{% endblock title_head %}

{% block h1_header %}
About Me
{% endblock h1_header %}


{% block main %}
<h3>About Me</h3>
<p>
    Hola, soy Rafael, el creador de esta página web. Soy un desarrollador inexperto que está adentrándose en el mundo de la programación. 
</p>
<p>
    En caso de que tengas alguna duda o sugerencia, me puedes contactar a través de estos medios:
    <li> Email: rafaeldilelle98@gmail.com </li>
    <li> Github: <a href="https://github.com/rafaeldil"></a></li>
</p>

{% endblock main %} 
