{% extends "base.html" %}

{% block title_head %}
Libros
{% endblock title_head %}

{% block h1_header %}
Lista de libros
{% endblock h1_header %}

{% block main %}

<a href={% url 'crear_libro' %}> Crear Libro </a>

<form action={% url "libros" %} method="get">
    {{formulario}}
    <input type="submit" value="Buscar">
</form>

    {% if libros %}

    {% else %}
    <p>No hay libros creados</p>
    {% endif %}
    <ul> 
        {% for libro in libros %}
        <li> 
            {{libro}} | 
            <a href={% url "eliminar_libro" libro.id%} > Eliminar </a> |
            <a href={% url "editar_libro" libro.id%}> Editar </a> |
            <a href={% url "ver_libro" libro.id%}> Ver </a> |
        </li>
        {% endfor %}
    </ul>

{% endblock main %}
