{% extends "base.html" %}

{% block title_head %}
{{ libro.nombre }}
{% endblock title_head %}

{% block h1_header %}
{{ libro.nombre }}
{% endblock h1_header %}

{% block main %}
<div class="row">
    <div class="col-md-4">
        <h4>Portada:</h4>
        {% if libro.portada %}
        <img src="{{ libro.portada.url }}" alt="Portada" class="img-fluid" style="max-width: 100%; height: 300px;">
        {% else %}
        <p>No hay portada disponible para este libro.</p>
        {% endif %}
        <br>
    </div>
    <div class="col-md-8">
        <h4>Sinopsis:</h4> 
        <p> 
            {{ libro.sinopsis }}
        </p>
    </div>
    <div>
        <h4>Detalles:</h4>
        <ul>
            <li><strong>Nombre:</strong> {{ libro.nombre }}</li>
            <li><strong>Género:</strong> {{ libro.genero }}</li>
            <li><strong>Precio:</strong> {{ libro.precio }}</li>
            <li><strong>Fecha de Lanzamiento:</strong> {{ libro.fecha_lanzamiento }}</li>
        </ul>
    </div>

</div>
{% endblock main %}
